.accordion {
  .accordion-item {
    border-color: transparent;
    background: transparent;

    .accordion-header {
      background: transparent;
      border-color: transparent;

      .accordion-button {
        background: transparent;
        font-size: $font-nav;
        outline: none;
        border-color: transparent;
        box-shadow: none;

        &::after {
          left: 0;
          position: absolute;
          transform: rotate(0deg);
          width: 12px;
          height: 12px;
        }

        &:focus {
          box-shadow: none;
        }

        &.collapsed {
          &::after {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .accordion-body {
      padding: $s-normal 0;
    }
  }
}