.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $s-min;
  font-size: $font-nav;
  transition: $tr-normal;
  border-radius: $br-normal;
  padding: 10px $s-normal;

  &.show {
    border-color: transparent;
  }

  &.disabled {
    border-color: transparent;
  }

  &.nav-link {
    text-align: left;
    justify-content: flex-start;
    background: transparent;
  }

  &.show {
    background: transparent;
  }

  &.btn-primary {
    background: $primary;
    color: white !important;
    border-color: $primary;

    &:hover {
      filter: brightness(0.85);
    }
  }

  &.btn-facebook {
    background: $facebook;
    color: white !important;
    border-color: $facebook;

    &:hover {
      filter: brightness(0.85);
    }
  }

  &.btn-google {
    background: white;
    color: $dark-grey !important;
    border-color: white;

    &:hover {
      filter: brightness(0.85);
    }
  }

  &.btn-icon {
    padding: 0;
    color: $white-med;

    span {
      border: solid 1.5px;
      border-radius: $br-max;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $s-button;
      height: $s-button;
      padding: 0;
      transition: $tr-normal;

      @media (max-width: $break-sm) {
        width: $s-button-mobile;
        height: $s-button-mobile;
      }

      svg,
      img {
        max-width: 100%;
        transition: $tr-normal;
      }

      &.no-border {
        border: none;
        width: auto;
        height: auto;
      }
    }

    &.btn-icon--small {
      span {
        border: none;
        width: $s-normal;
        height: $s-normal;
      }
    }

    &.btn-icon--med {
      span {
        border: none;
        width: $s-medium;
        height: $s-medium;
      }
    }

    &.btn-icon--med-border {
      span {
        width: $s-medium;
        height: $s-medium;
      }
    }
  }

  &.btn-thumb {
    border-color: transparent;
    strong {
      font-weight: $f-weight--regular;

      @media (max-width: $break-xl) {
        display: none;
      }
    }

    span {
      display: inline-flex;
      overflow: hidden;
      border-radius: $br-max;
      line-height: 0;
      width: 34px;
      height: 34px;

      img {
        max-width: 100%;
      }
    }
  }

  &.btn-user {
    @media (max-width: $break-xl) {
      padding: 0;
      margin-right: -5px;
      border-radius: $br-max;
    }
  }

  &.btn-full {
    width: 100%;
  }

  &.btn-lg {
    text-transform: uppercase;
  }

  &.play-button {
    span {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      &::before,
      &::after {
        display: block;
        content: "";
        transition: $tr-normal;
      }
    }

    &.btn-pause {
      span {
        &::before {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 0 7.5px 13px;
          border-color: transparent transparent transparent $white-med;
          margin-left: 10px;
        }
      }

      &:hover {
        span {
          &::before {
            border-color: transparent transparent transparent white;
          }
        }
      }
    }

    &.btn-play {
      span {
        &::before,
        &::after {
          width: 3px;
          height: 15px;
          border: none;
          background: white;
        }
      }
    }
  }

  &.dropdown-toggle {
    border-radius: $br-small;
    justify-content: space-between;
    padding: $s-min $s-small;

    &::after {
      width: 9px;
      height: 5px;
      border: none;
      background-image: url(../images/icon-ch--down-color.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.dropdown-toggle--white {
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
    }

    &.dropdown-toggle--line {
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.navbar-toggler {
    em {
      font-style: normal;
      color: $primary;
      font-size: $font-s-big;
    }

    svg {
      max-width: 23px;
    }
  }
}

.dropdown-menu {
  padding: $s-min;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
      width: 5px;
      background: white;
      border-radius: 0 $br-max $br-max 0;
      position: absolute;
    }

    &:horizontal {
      height: 3px;
      background: transparent;
      border-radius: $br-max;
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
    &:increment {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-med;
    opacity: 1;
    border-radius: $br-max;
    transition: $tr-normal;
  }

  &::-webkit-scrollbar-track {
    border-radius: $s-small;
  }

  @media (max-width: $break-md) {
    max-height: 175px;
  }

  li {
    .dropdown-divider {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .dropdown-header {
      color: $dark-grey;
      padding-left: $s-small;
      font-size: $font-s-med;
      text-transform: uppercase;
    }

    .dropdown-item {
      font-size: $font-nav;
      border-radius: $br-small;
      color: $dark-grey;
      padding: $s-small;

      &:hover {
        background: $primary;
        color: white !important;
      }

      &.dropdown-item--language {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg,
        img {
          width: auto;
          height: 15px;
          fill: $primary;
        }

        &.active {
          background: $grey;
          color: $primary;
          margin-bottom: 3px;

          &:hover {
            background: $grey !important;
            color: $primary !important;
          }
        }
      }

      &.dropdown-item--ui {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $s-small;
        }
      }

      &.dropdown-item--logout {
        color: red;
      }
    }

    &.last-item {
      justify-content: center;
      display: flex;
      padding: $s-small 0;
    }
  }

  &.dropdown-menu--full {
    width: 100%;
    border-radius: $br-small;
    box-shadow: $sh-card;
    border-color: transparent;
  }

  &.dropdown-menu--user {
    max-height: inherit;
    overflow: inherit;

    .dropdown-menu--user__language-list {
      max-height: 172px;
      margin-bottom: -3px;
      padding-bottom: 3px;

      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        -webkit-appearance: none;

        &:vertical {
          width: 5px;
          background: white;
          border-radius: 0 $br-max $br-max 0;
          position: absolute;
        }

        &:horizontal {
          height: 3px;
          background: transparent;
          border-radius: $br-max;
        }
      }

      &::-webkit-scrollbar-button {
        display: none;
        &:increment {
          display: none;
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: $secondary-med;
        opacity: 1;
        border-radius: $br-max;
        transition: $tr-normal;
      }

      &::-webkit-scrollbar-track {
        border-radius: $s-small;
      }
    }
  }

  &.dropdown-menu--transparent {
    max-height: inherit;
    overflow: inherit;
    background: transparent;
    padding: 0;
    border-color: transparent;
    gap: $s-small;

    li {
      margin-bottom: $s-small;
    }
  }
}

.btn-group--page-navigation {
  position: fixed;
  bottom: $s-normal;
  left: $s-normal;
  z-index: 9000;
}
