.card {
  transition: $tr-normal;

  &.card-item {
    border-color: transparent;
    border-radius: $br-normal;
    background: transparent;
    margin-bottom: $s-medium;
    border-width: 1.5px;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 65%;
    }

    @media (max-width: $break-sm) {
      margin-bottom: $s-normal;
    }

    &.disabled {
      .card-img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }

    .card-img {
      position: absolute;
      border-radius: $br-normal;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .card-save-type {
      position: absolute;
      top: $s-min;
      left: $s-min;
      padding: $s-min;
      backdrop-filter: blur(5px);
      border-radius: $br-max;
      width: $s-medium;
      height: $s-medium;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $sh-card;
      transition: $tr-normal;
      background: $black-med;

      svg,
      img {
        width: auto;
        max-width: 100%;
        fill: white;
      }
    }

    .card-img-overlay {
      padding: $s-small $s-padding;
      border-radius: $br-normal;

      &.card-img-overlay--title {
        top: inherit;
        padding-top: $s-medium;
        background: $gradient-black;
        transition: $tr-normal;

        @media (max-width: $break-sm) {
          padding: 3px $s-small 0;
        }

        .card-text {
          color: $primary;
          font-size: $font-s-small;
        }

        .card-title {
          font-size: $font-title-small;
          font-weight: $f-weight--regular;
          text-transform: uppercase;
          margin-bottom: 0;
        }

        &.card-img-overlay--title---edit {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .dropdown-toggle {
            padding-right: 0;
          }
        }

        &.card-img-overlay--title---ingallery {
          .card-img-overlay--title---ingallery-edit {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: $br-small;
            border: solid 1px transparent;
            transition: $tr-normal;
            position: relative;

            .form-control-lg {
              padding-left: $s-medium;
              max-width: 80%;

              @media (max-width: $break-md) {
                max-width: inherit;
                margin-bottom: -10px;
                padding-left: 0;
              }
            }

            .form-control-sm {
              margin-left: 28px;
              padding: $s-small;
              max-width: 78%;

              @media (max-width: $break-md) {
                max-width: inherit;
                margin-left: 0;
                height: $s-extra;
                padding-left: 0;
              }

              @media (max-width: $break-sm) {
                height: 60px;
              }
            }

            .dropdown {
              opacity: 0;
              transform: translate(-40px, 0px);
              position: absolute;
              left: $s-medium;
              top: -3px;

              @media (max-width: $break-md) {
                opacity: 1;
                top: -5px;
                right: 0;
                left: inherit;
              }

              .btn-ratio-dropdown {
                span {
                  border: none;
                }
              }
            }

            &:hover,
            &:focus {
              .dropdown {
                opacity: 1;
              }
            }
          }
          textarea {
            min-height: inherit;
            max-width: 80%;
            padding-left: $s-normal;
          }
        }
      }

      &.card-img-overlay--ui {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $black-med;
        transition: $tr-normal;
        opacity: 0;

        &::before {
          content: "";
          display: block;
          position: absolute;
          background: $gradient-black;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          border-radius: $br-normal;
        }

        .card-img-overlay--ui---top {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $s-normal;
          position: relative;
          z-index: 2;
        }

        .card-img-overlay--ui---fixed {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: $s-medium;
          padding: $s-small $s-padding;
          z-index: 3;
        }

        .card-img-overlay--ui---bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $s-medium;
          padding: $s-small 0 $s-normal;
          z-index: 3;

          .btn-icon--small {
            span {
              width: auto;
              svg {
                height: 100%;
                width: auto;
              }
            }

            &:first-child {
              span {
                height: 20px;
              }
            }

            &:last-child {
              span {
                height: 14px;
              }
            }
          }
        }
      }
    }

    &:hover,
    &.card-item--active {
      background: $primary;

      .card-img-overlay {
        &.card-img-overlay--ui {
          opacity: 1;
        }
        &.card-img-overlay--title {
          opacity: 0;
        }
      }

      .card-save-type {
        opacity: 0;
      }
    }

    &.card-item--new {
      background: transparent;
      border-color: $white-med;

      .card-img-overlay {
        &.card-img-overlay--ui {
          opacity: 1;
          background: transparent;

          &::before {
            display: none;
          }
          .card-img-overlay--ui---top {
            .btn-transparent {
              span {
                svg {
                  animation: rotating 3s linear infinite;
                }
              }
            }
          }
        }
      }

      &:hover {
        border-color: $primary;
      }
    }

    &.card-item--photo {
      background: $dark;
      cursor: grab;

      &:focus,
      &:active {
        cursor: grabbing;
      }

      .card-item--photo---touch {
        fill: $primary;
        position: absolute;
        top: 0;
        right: $s-small;
        opacity: 0;
        transition: $tr-normal;
        display: none;
      }

      .card-item--photo---delete {
        position: absolute;
        top: $s-min;
        right: $s-min;
        opacity: 0;
      }

      img {
        opacity: 1;
        transition: $tr-normal;
      }
      .card-img-overlay {
        &.card-img-overlay--title {
          color: white;
        }
      }
      &:hover {
        border: solid 1px $primary;
        .card-item--photo---touch,
        .card-item--photo---delete {
          opacity: 1;
        }

        img {
          opacity: 0.1;
        }

        .card-img-overlay {
          &.card-img-overlay--title {
            opacity: 1;
          }
        }
      }
    }

    &.card-item--full {
      background: $dark;

      .card-img-overlay {
        padding: $s-normal;

        @media (max-width: $break-md) {
          padding-bottom: 3px
        }

        .nav {
          position: absolute;
          right: $s-small;
          bottom: $s-small;
        }

        .card-title {
          font-size: $font-title-card-small;
          max-width: 75%;
        }

        .card-text {
          max-width: 75%;
          color: $white-med;
        }
      }

      &:hover {
        background: transparent;

        .card-img-overlay {
          &.card-img-overlay--title {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      border-color: $primary;
    }
  }

  &.card-login {
    background: rgba($color: $black-grey, $alpha: 0.8);
    box-shadow: $sh-card;
    margin: 0 auto;
    text-align: center;
    width: 420px;
    max-width: 100%;

    .card-title {
      font-size: $font-title-card;
      font-weight: $f-weight--regular;
    }

    p {
      font-size: $font-nav;
      color: $dark-grey;
    }

    .card-body {
      padding: $s-big $s-extra $s-extra;

      @media (max-width: $break-sm) {
        padding: $s-medium $s-medium $s-normal;
      }
    }
  }

  &.card-upload {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border-color: transparent;

    .card-header {
      text-align: center;
      border-color: transparent;
      font-size: $font-nav;
      color: $white-med;
    }
    .separator {
      span {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    .btn {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
