body {
  &.v-dark {
    background: $gradient-dark;
    color: white;

    &::after {
      background: $gradient-top;
    }

    &.bg-dark--image {
      &::before {
        background: url(../images/bg-body.jpg) no-repeat center center;
        background-size: cover;
      }
    }

    &.bg-dark--login {
      &::before {
        background: url(../images/bg-body.jpg) no-repeat center center;
        background-size: cover;
        opacity: 1;
      }
    }

    h6 {
      color: $white-med;
    }

    a {
      color: $primary;

      &:hover {
        color: $primary;
        filter: brightness(1.2);
      }
    }

    p {
      &.disabled {
        color: $white-med;

        a {
          color: white;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .nav-link {
      &.nav-link--sidebar {
        color: $white-med;

        svg {
          fill: $white-med;
        }

        &:hover {
          color: white;

          svg {
            fill: white;
          }
        }

        &.active {
          color: white;
          background: transparent;

          svg {
            fill: white;
          }
        }
      }

      &.nav-link--panorama {
        color: $white-med;

        em {
          border-color: $white-med;

          svg {
            fill: $white-med;
          }
        }

        .drop {
          fill: $primary;
        }

        &:hover {
          border-color: $white-med;
          color: white;
        }

        &.active {
          border-color: $primary;
          color: white;
        }
      }
    }

    /* Buttons */
    .btn {
      color: $white-med;

      &:hover,
      &:active {
        color: white;
        border-color: transparent;
      }

      &.nav-link {
        border-color: $white-small;

        &:hover {
          border-color: white;
          color: white;
        }

        &.active {
          background: $primary;
          border-color: $primary;
          color: white;
        }
      }

      &.btn-icon {
        span {
          border-color: transparent;

          svg {
            fill: $white-med;
          }
        }

        &:hover,
        &:active {
          span {
            border-color: transparent;

            svg {
              fill: $primary;
            }
          }
        }

        &.btn-outline-primary {
          border-color: transparent;

          &:hover {
            border-color: transparent;
          }
        }

        &.btn-outline-light {
          border-color: transparent;

          &:hover {
            border-color: transparent;
          }
        }

        &.btn-outline-primary--plus {
          span {
            border: $primary solid 1px !important;

            svg {
              fill: $primary !important;
            }
          }

          &:hover {
            span {
              background: $primary;

              svg {
                fill: white !important;
              }
            }
          }
        }

        &.btn-outline-danger {
          border-color: transparent;

          &:hover {
            border-color: transparent;
          }
        }
      }

      &.btn-outline-light {
        color: $white-med;

        span {
          border-color: $white-med;

          svg {
            fill: $white-med;
          }
        }

        &:hover,
        &:active {
          color: $primary;
          background: transparent;
          border-color: $white-small;

          span {
            border-color: $primary;

            svg {
              fill: $primary;
            }
          }
        }
      }

      &.btn-outline-light-2 {
        color: $primary;
        border-color: $white-small;


        &:hover,
        &:active {
          color: white;
          background: transparent;
          border-color: $white-med;
        }
      }

      &.btn-outline-danger {
        color: $white-med;
        span {
          border-color: $white-med;

          svg {
            fill: $white-med;
          }
        }

        &:hover,
        &:active {
          color: white;
          background: transparent;

          span {
            border-color: white;

            svg {
              fill: white;
            }
          }
        }
      }

      &.btn-outline-primary {
        color: $primary;
        border-color: $primary;
        span {
          border-color: $white-med;

          svg {
            fill: $primary;
          }
        }

        &:hover,
        &:active {
          color: $primary;
          background: transparent;
          filter: brightness(1.2);

          span {
            border-color: $primary;
            filter: brightness(1.2);

            svg {
              fill: $primary;
              filter: brightness(1.2);
            }
          }
        }
      }

      &.btn-secondary {
        background: $secondary;
        border-color: $secondary;
        color: white;

        span {
          background: $secondary;

          svg {
            fill: white;
          }
        }

        &:hover,
        &:active {
          color: white;

          span {
            filter: brightness(1.2);
            color: white;

            svg {
              fill: white;
            }
          }
        }
      }

      &.btn-outline-secondary {
        color: $secondary;
        border-color: transparent;

        span {
          border-color: $white-med;

          svg {
            fill: $secondary;
          }
        }

        &:hover,
        &:active {
          color: $secondary;
          background: transparent;
          filter: brightness(1.2);

          span {
            border-color: $secondary;
            filter: brightness(1.2);

            svg {
              fill: $secondary;
              filter: brightness(1.2);
            }
          }
        }
      }

      &.btn-group-fix {
        background: $black-min;
      }

      &.btn-group-fix--dark {
        background: $grey;
      }

      &.btn-outline-add {
        span {
          border-color: $primary;
          color: white;

          svg {
            fill: white;
          }
        }

        &:hover,
        &:active {
          color: $primary;
          background: transparent;

          span {
            background: $primary;
            color: white;

            svg {
              fill: white;
            }
          }
        }
      }

      &.btn-outline-overlay {
        color: white;
        text-shadow: $dark 1px 1px 1px;
        span {
          border-color: transparent;
          color: white;

          svg {
            fill: white;
          }
        }

        &:hover,
        &:active {
          color: white;
          background: transparent;

          span {
            background: $primary;
            color: white;

            svg {
              fill: white;
            }
          }
        }
      }

      &.btn-outline-overlay--primary {
        color: white;
        text-shadow: $dark 1px 1px 1px;
        span {
          border-color: transparent;
          color: white;

          svg {
            fill: $primary;
          }
        }

        &:hover,
        &:active {
          color: white;
          background: transparent;

          span {
            background: $primary;
            color: white;

            svg {
              fill: white;
            }
          }
        }
      }

      &.dropdown-toggle {
        color: white;
        background: $black-min;

        &.dropdown-toggle--transparent {
          background: transparent;
        }

        &:focus,
        &.show {
          color: white;
          border-color: transparent;
        }

        &::placeholder {
          color: $white-med;
        }

        &.dropdown-toggle--white {
          background: transparent;
          color: $dark-grey;
          border-bottom: solid $grey 1px;
        }

        &.dropdown-toggle--line {
          background: transparent;
          color: white;
          border-bottom: solid $white-small 1px;
        }
      }

      &.btn-transparent {
        background: transparent !important;
        border-color: transparent;
      }

      &.btn-dark {
        background: $black-min;
        color: white;

        svg {
          fill: $white-med;
        }

        &:hover,
        &:active {
          svg {
            fill: white;
          }
        }
      }
    }

    /* Accordion */
    .accordion {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            color: $white-med;

            &.accordion-button--dark {
              color: $dark-grey;
            }

            &::after {
              background: url(../images/icon-ch--down-color.svg) no-repeat
                center center;
              background-size: contain;
            }
          }
        }
      }
    }
    /* Colors */
    .nav {
      &.general-nav {
        .nav-item {
          .nav-link {
            color: $white-med;

            &:hover,
            &:active,
            &:focus {
              color: white;
            }

            &.active {
              color: white;
            }

            &.nav-link--publish {
              border-color: $white-med;
            }
          }
        }
      }

      &.tab-nav {
        .nav-item {
          &::after {
            background: $white-med;
          }
        }
      }

      &.main-nav {
        .nav-item {
          .nav-link {
            &:hover {
              color: $primary;
            }

            &.active {
              color: $primary;
            }
          }
        }
      }
    }

    /* Forms */
    .form-control {
      background: $black-min;
      border-color: transparent;
      color: white;

      &::placeholder {
        color: white;
      }

      &.form-control--dark {
        color: $black-grey;
        background: $grey;

        &::placeholder {
          color: $dark-grey;
        }
      }

      &.form-noedit {
        background: transparent;

        &:hover {
          border-color: $primary;
        }

        &:focus {
          border-color: transparent;
        }
      }

      &:focus {
        box-shadow: none;
      }

      &.form-transparent {
        color: white;
        background: transparent;

        &::placeholder {
          color: $white-med;
        }
      }

      &.form-year {
        &::-webkit-calendar-picker-indicator {
          background: url(../images/icon-ch--down-color.svg) center center
            no-repeat;
          background-size: contain;
          width: $s-min;
        }
      }
    }

    .input-group {
      .btn-outline-primary,
      .btn-outline-secondary {
        border-color: transparent;

        &:hover {
          background: $black-normal;
        }
      }

      .dropdown-toggle {
        background: $black-normal;
      }
    }

    /* Badges */
    .badge {
      color: $white-med;

      &.badge-info {
        span {
          @media (max-width: $break-lg) {
            color: white;
          }
        }
      }
    }

    .avatar {
      border-color: $white-med;

      svg {
        fill: $white-med;
      }
    }
  }
}
