.form-control {
  font-size: $font-input;
  font-weight: $f-weight--regular;
  border-radius: $br-small;
  resize: none;

  &.form-text--right {
    text-align: right;
  }

  &.form-control-fix-h {
    height: 26vh;
  }

  &.form-transparent {
    background: transparent;
    border-color: transparent;
  }

  &.form-control-lg {
    font-size: $font-title;
    font-weight: $f-weight--bold;
    line-height: 1em;
    padding-top: 0;
    padding-bottom: 0;

    &.form-noedit {
      min-height: inherit;
      padding: 0;
      max-height: $s-big;
    }

    @media (max-width: $break-sm) {
      font-size: $font-title-card-small;
      padding-top: $s-small;
      padding-top: $s-small;
    }
  }

  &.form-control-sm {
    font-size: $font-nav;
  }

  &.form-year {
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-text {
      display: none;
    }
  }
}

.form-label,
.form-check-label {
  font-size: $font-s-small;
  color: $white-med;
  margin-bottom: 0.2rem;
}

.form-check--gallery {
  margin: $s-normal 0 0 $s-extra;

  @media (max-width: $break-lg) {
    margin: $s-normal 0 0 0;
  }
}

.invalid-feedback {
  font-size: $font-s-small;
}

.input-group {
  .form-control {
    min-width: $s-medium;
  }

  .btn {
    padding-left: $s-small;
    padding-right: $s-small;
    margin-left: 0 !important;
    border-radius: $br-small;
  }
}

.form-check-input {
  border-color: $secondary;
  background-color: transparent;
  box-shadow: none;

  &:focus {
    border-color: $secondary;
    box-shadow: none;
  }

  &:checked {
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: none;
  }
}

textarea {
  &.form-control-sm {
    min-height: 100px;
  }
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.upload_dropZone {
  padding: $s-extra;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: $tr-normal;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23FFFFFF2E' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: $br-normal;

  &.highlight {
    background: $black-normal;
  }

  .upload_gallery {
    margin-top: $s-normal;
    img {
      max-width: 100%;
      border: solid 1px $white-med;
      border-radius: $br-small;
    }
  }
}

.form-floating {
  .form-control {
    &::placeholder {
      opacity: 0;
    }
  }
}
