header {
  &.main-header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $sh-header;
    z-index: 500;
    border-bottom: $white-small solid 1px;

    .col-logo {
      .navbar-brand {
        width: $logo-header;
  
        img {
          max-width: 100%;
        }
      }

      @media (max-width: $break-xl) {
        display: none;
      }
    }

    .col-info {
      @media (max-width: $break-xl) {
       padding-left: 0;
      }
    }

    .col-menu {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .navbar-toggler {
        position: absolute;
        right: $s-small;
      }
    }

    .col-menu--item {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      .nav-no-tablet {
        display: none;
      }

      .dropdown-general-nav {
        display: none;

        @media (max-width: $break-lg) {
          display: inline-flex;
        }
      }

      .general-nav {
        @media (max-width: $break-lg) {
          display: none;
        }
      }
    }

    .col-user {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: $break-lg) {
        display: none;
      }
    }

    &.main-header--noshadow {
      border-bottom: none;
      box-shadow: inherit;
    }
  }
}
