header {
  &.main-header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $sh-header;
    z-index: 500;
    border-bottom: $white-small solid 1px;

    &.main-header--ghost {
      border-bottom: none;
      box-shadow: $sh-header--big;
    }

    .col-logo {
      align-items: center;
      justify-content: center;
      display: flex;
      
      .navbar-brand {
        width: $logo-header;
        display: inline-flex;

        img {
          max-width: 100%;
        }
      }

      @media (max-width: $break-xl) {
        display: none;
      }

      &.col-logo--index {
        @media (max-width: $break-xl) {
          display: flex;
        }
      }
    }

    .col-info {
      @media (max-width: $break-xl) {
        padding-left: 0;
      }
    }

    .col-menu {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .navbar-toggler {
        position: absolute;
        right: $s-small;
      }
    }

    .col-menu--item {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      &.col-menu--item---index {
        justify-content: center;

        @media (max-width: $break-lg) {
          justify-content: flex-end;
        }

        .general-nav {
          margin-right: auto;
        }

        .navbar-collapse {
          &.show {
            @media (max-width: $break-lg) {
              position: absolute;
              top: $s-big;
              left: $s-small;
              right: $s-small;
              background: $black-med;
              border-radius: $br-normal;
              padding: $s-normal;
            }

            .general-nav {
              @media (max-width: $break-lg) {
                display: block;
              }

              .nav-item {
                .nav-link {
                  @media (max-width: $break-lg) {
                    font-size: $font-title-card-small;
                  }
                }
              }
            }
          }
        }
      }

      .dropdown-general-nav {
        display: none;

        @media (max-width: $break-lg) {
          display: inline-flex;
        }
      }

      .general-nav {
        @media (max-width: $break-lg) {
          display: none;
        }
      }
    }

    .col-user {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: $break-lg) {
        display: none;
      }
    }

    &.main-header--noshadow {
      border-bottom: none;
      box-shadow: inherit;
    }
  }
}
