header {
  &.main-header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $sh-header;
    z-index: 500;
    border-bottom: $white-small inset 1px;

    &.main-header--ghost {
      border-bottom: none;
      box-shadow: $sh-header--big;
    }

    .col-logo {
      align-items: center;
      justify-content: center;
      display: flex;
      
      .navbar-brand {
        width: $logo-header;
        display: inline-flex;

        @media (max-width: $break-sm) {
          width: $logo-header--mobile;
        }

        img {
          max-width: 100%;
        }
      }

      @media (max-width: $break-xl) {
        display: none;
      }

      &.col-logo--index {
        @media (max-width: $break-xl) {
          display: flex;
        }
      }
    }

    .col-info {
      @media (max-width: $break-xl) {
        padding-left: 0;
      }
    }

    .col-menu {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .navbar-toggler {
        position: absolute;
        right: $s-small;
      }
    }

    .col-menu--item {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      &.col-menu--item---index {
        justify-content: center;

        @media (max-width: $break-lg) {
          justify-content: flex-end;
        }

        .general-nav {
          margin-right: auto;
        }

        .navbar-collapse {
          @media (max-width: $break-lg) {
            position: absolute;
          }
          &.show {
            @media (max-width: $break-lg) {
              top: $s-big;
              left: inherit;
              right: $s-small;
              background: white;
              border-radius: $br-normal;
              padding: $s-min;
              min-width: 160px;
            }

            .general-nav {
              @media (max-width: $break-lg) {
                display: block;
              }

              .nav-item {
                .nav-link {
                  @media (max-width: $break-lg) {
                    padding: $s-small;
                    border-radius: $br-small;
                    color: $primary;
                    margin-top: 2px;
                    text-align: left;
                  }

                  &:hover,
                  &.active {
                    @media (max-width: $break-lg) {
                      background: $primary;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .dropdown-general-nav {
        display: none;

        @media (max-width: $break-lg) {
          display: inline-flex;
        }

        .dropdown-toggle {
          @media (max-width: $break-lg) {
           color: $primary;
          }
        }
      }

      .general-nav {
        @media (max-width: $break-lg) {
          display: none;
        }
      }
    }

    .col-user {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }

    &.main-header--noshadow {
      border-bottom: none;
      box-shadow: inherit;

      @media (max-width: $break-sm) {
        border-bottom: $white-small solid 1px;
      }
    }
  }
}
