.modal {
  border-radius: $br-small;

  &.modal-white {
    .modal-dialog {
      .modal-content {
        padding-bottom: $s-big;

        .modal-header {
          border-color: transparent;
          justify-content: center;
          padding-top: $s-extra;
          padding-bottom: 0;

          .modal-title {
            text-align: center;
            color: $base;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: $font-title-modal;
          }

          .btn-close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 24px;
            height: 24px;
            padding: 0;
            opacity: 1;

            background: url(../images/icon-close--modal.svg) no-repeat center
              center;
            background-size: contain;
          }
        }

        .modal-body {
          max-width: 100%;
          color: $dark-grey;
          text-align: center;
          padding: 0;

          .modal-body {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding: $s-normal;
          }

          .share-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
          }

          .accordion {
            .accordion-item {
              .accordion-header {
                .accordion-button {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  gap: $s-small;

                  &::after {
                    position: relative;
                    margin-left: 0;
                    order: 1;
                  }

                  span {
                    order: 2;
                  }
                }
              }

              .accordion-body {
                .form-label {
                  text-align: left;
                  width: 100%;
                }
              }
            }
          }

          p {
            font-size: $font-s-base;
          }

          .form-label,
          .form-check-label {
            font-size: $font-s-base;
            color: $dark-grey;
          }

          .form-check {
            display: inline-flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            gap: $s-small;

            .form-check-input {
              margin-top: 0;
            }
          }
        }

        .modal-footer {
          border-color: transparent;
          justify-content: center;
          padding-bottom: $s-medium;
          padding-top: 0;
        }
      }
    }
  }

  .modal-dialog {
    &.modal-lg,
    &.modal-xl,
    &.modal-md {
      .modal-content {
        .modal-body {
          .modal-body {
            width: inherit;
          }
        }
      } 
    }
  }
}
