.nav {
  &.general-nav {
    .nav-item {
      position: relative;

      .nav-link {
        font-size: $font-nav;
        text-transform: uppercase;
        padding: 0 $s-normal;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &.tab-nav {
    .nav-item {
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        top: $s-min;
        bottom: $s-min;
        right: 0;
        opacity: 0.3;
      }

      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }
  
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &.main-nav {
    align-items: center;
  }
}