.flickity-enabled {
  .flickity-button {
    background: none;
    margin-top: -22px;

    &::before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 10px;
      background-image: url(/images/icon-ch--down-color.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    svg {
      display: none;
    }

    &.previous {
      transform: rotate(90deg);
    }

    &.next {
      transform: rotate(-90deg);
    }
  }

  &.gallery-carousel {
    width: 100%;
    padding: 0 $s-extra;
    margin-top: $s-medium;

    @media (max-width: $break-lg) {
      padding: 0;
      margin-top: 0;
    }

    .carousel-cell {
      width: 100%;
    }
  }

  &.minigallery-carousel {
    box-shadow: $sh-card;

    .flickity-button {
      &.previous {
        margin-left: $s-extra--n;
      }

      &.next {
        margin-right: $s-extra--n;
      }
    }
  }
}
