.toggle {
  position: relative;
  overflow: hidden;

  input {
    &[type=checkbox] {
      display: none;
    }
  }

  .btn-custom-toggle {
    background: $primary !important;
    color: white !important;
  }

  .toggle-group {
    position:absolute;
    width:200%;
    top:0;
    bottom:0;
    left:0;
    transition:left .35s;
    -webkit-transition:left .35s;
    -moz-user-select:none;
    -webkit-user-select:none
  }

  &.off {
    .toggle-group {
      left:-100%
    }
  }

  &.btn {
    min-width:$s-medium;
    min-height: $s-medium;
    border-radius: $br-small;
    background: $black-med;
  }

  .toggle-on {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:50%;
    margin:0;
    border:0;
    border-radius:0;

  }

  .toggle-off {
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    right:0;
    margin:0;
    border:0;
    border-radius:0;
  }

  .toggle-handle {
    position:relative;
    margin:0 auto;
    padding-top:0;
    padding-bottom:0;
    height:100%;
    width:0;
    border-width:0 1px;
  }
}

.toggle-reorder {
  position: fixed;
  right: $s-normal;
  bottom: $s-normal;
  background: $black-normal;
  border-radius: $br-small;

  label {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: $font-s-small;
      padding: 0 $s-small;
    }
  }
}